/*reset*/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body,div,p,ul,li,h1,h2,h3,h4,h5,h6,dl,dd,dt,ul,li{
    margin: 0;
    padding:0;
}
html,body{
    height: 100%;
    width: 100%;
}
body {
    font:small/1.4286 -apple-system,"PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
    font-weight: inherit;
    font-style: inherit;
    background: #f4f4f4;
    min-width: 1000px;
    min-height: 100%;
    color: #666;
}
dl,ul {
    list-style: none;
}

img{
    border: none;
    vertical-align: middle;
}
input {
    border: none;
    outline: none;
}

a:link,a:visited {
    text-decoration: none;
    color: #5b5b5b;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    display: inline-block;
}

a:hover,a:active,a:focus {
    color: #49b849;
    cursor: pointer;
}

.clearfix{*zoom: 1;}
.clearfix:after{
    display: block;
    content: '';
    height: 0;
    clear: both;
    visibility: hidden;
}
.fl{
    float: left;
}
.fr {
    float: right;
}


/*top-ad*/

.top-ad{
    width: 1000px;
    height: 450px;
    text-align: center;
    display: none;
    margin: 30px auto -30px;
}
.top-ad img {
    width: 100%;
    height: 100%;
}


/*douban*/
.douban{
    position: fixed;
    left: 0;
    bottom: 20px;
    z-index: 1;
}
.dbmove{
    /*width: 143px;*/
    width: 0px;
    height: 34px;
    background: url("douban.png") no-repeat;
    background-position: 0 0;
    background-size: cover;
    cursor: pointer;
}

.douban .dbtn {
    width: 22px;
    height: 34px;
    position: absolute;
    bottom: 0;
    background: url("douban.png") no-repeat;
    background-size: cover;
}
.douban .dbhide{
    background-position: -143px 0;
    left: 144px;
    display: none;
}
.douban .dbshow {
    width: 33px;
    background-position: -165px 0;
    left: 0;
    display: block;
}


/*newheader*/

.newheader {
    width: 100%;
    height: 40px;
    background: #f5f5f5;
    position: fixed;
    left: 0;
    top:0;
    -webkit-transition: background-color .2s,color .2s;
    -moz-transition: background-color .2s,color .2s;
    -o-transition: background-color .2s,color .2s;
    transition: background-color .2s,color .2s;
    z-index: 2;
}

.newheader .header-container {
    width: 1000px;
    height: 100%;
    line-height: 3;
    margin: 0 auto;
    position: relative;
}
.newheader .header-logo-list {
    width: 130px;
    height: 40px;
}
.newheader .header-logo-list>dt,.newheader .header-tools dt{
    height: 100%;
}
.newheader .header-logo-list>dd,.newheader .header-tools dd{
    width: 100%;
    background: #fff;
    line-height: 2.5;
    text-align: center;
    /*display: none;*/
}

.newheader .header-logo-list>dd:hover,.newheader .header-tools dd:hover {
    background: rgba(255,255,255,.5);
}
.newheader .header-logo-list .header-logo{
    width: 130px;
    height: 40px;
    background: url("header-top.png") no-repeat center;
}
.newheader .header-logo>i {
    float: right;
    margin-top: 15px;

}

.newheader .header-container .header-menu {
    height: 40px;
    margin-left: 5px;
}
.newheader .header-menu>li{
    float: left;
}

.newheader .header-menu>li:hover {
    background: #fff;
}
.newheader .header-menu>li>a {
    padding: 0 15px;
}
.newheader .header-tools>dl {
    width: 130px;
    text-align: center;
}

/*header-bubble*/

.header-bubble {
    width: 344px;
    height: 170px;
    position: fixed;
    top: 400px;
    left: 0;
    background: url("header-bubble.png") no-repeat;
    display: none;
    z-index: 2;
}
.header-bubble .header-bubble-close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 4px;
    top:56px;
}

.hide {
    display: none;
}
/*header-mask*/

.header-mask {
    position: fixed;
    background: #000;
    opacity: .5;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    display: none;
}
.space{
    height: 40px;
}
.root{
    min-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/*topLayer*/

.topLayer {
    height: 100px;
    position: relative;
    width: 100%;
}
.toplayer-close{
    width: 32px;
    line-height: 32px;
    border: 1px solid #d0d6d9;
    background: #9c9c9c;
    position: absolute;
    font-size: 150%;
    color: #fffbe5;
    right: 20px;
    top: 40%;
    border-radius: 50%;
    text-align: center;
}
.topLayer .link_topLayer {
    width: 100%;
    height: 100px;
    margin-left: -200px;
    /*background: url("toopLayer.jpg") no-repeat center;*/
}
.topLayer .link_topLayer img{
    margin-left: -200px;
}

/*头部搜索*/

.search-header {
    height: 104px;
    background: #fff;
    transition: top .3s ease-out;
}
.search-wrapper{
    position: relative;
    padding: 32px 0;
}
.search-wrapper .course-logo{
    position: absolute;
    left: 0;
    top:0;
}
.search-wrapper .search-panel {
    width: 750px;
    margin-left: 234px;
    float: left;
}
.search-wrapper .search-panel .search-box {
    height: 36px;
    border: 2px solid #57bc4c;
    position: relative;
}
.search-wrapper .search-box .search-input-wrap {
    height: 100%;
    background: #fff;
    position: relative;
    width: 100%;
    padding-right: 100px;
}
.search-wrapper .search-input-wrap .icon-search {
    color: #ddd;
    font-size: 150%;
    position: absolute;
    left: 10px;
    top:5px;
}

.search-wrapper .search-input-wrap .search-input {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 2px 0 2px 40px;
}
.search-wrapper .search-box .btn-search{
    width: 100px;
    background: #57bc4c;
    text-align: center;
    color: #fff;
    height: 100%;
    line-height: 2.5;
    position: absolute;
    right: 0;
    top:0;
}
.search-wrapper .search-input-wrap .hotWordList_top3_list {
    float: right;
    margin-top: -24px;
    position: relative;
}
.search-wrapper  .hotWordList_top3_list a {
    background: #eee;
    margin-right: 10px;
    padding: 0 5px;
    font-size: small;
}
.search-wrapper .search-panel .ui-autocomplete {
    width: 650px;
    border: 2px solid #57bc4c;
    background: #fff;
    position: absolute;
    margin-top: -2px;
    z-index: 2;
    display: none;
}
.search-wrapper .ui-autocomplete>a{
    width: 100%;
    display: block;
    color: #999;
    padding: 0 10px;
    line-height: 2.5;
    background: #fff;
}

.search-wrapper .ui-autocomplete a:hover{
    background: rgba(0,0,0,.1);
}

.search-wrapper .collection-wrapper {
    position: relative;
}
.search-wrapper .collect-select {
    width: 142px;
    height: 40px;
    text-align: center;
    margin-right: 10px;
    border:1px solid #e8e8e8;
    line-height: 3;
}

.search-wrapper .collection-wrapper .hui-select-con {
    width: 230px;
    height: 40px;
    border:1px solid #e8e8e8;
    background: #fff;
    position: absolute;
    right: -1px;
    top: 38px;
    display: none;
}

.search-wrapper .hui-select-con .no-collect{
    text-align: left;
    margin-left: 10px;
}
.search-wrapper .hui-select-con .btn-login{
    color: #00a0dc;
}




/*course-main*/

.course-main {
    background: #fff;
    position: relative;
    min-width: 100%;
    height: 512px;
    overflow: hidden;
}
.course-main .course-menu {
    position: relative;
    background: #48a63e;
    width: 100%;
    height: 40px;
}
.course-main .course-menu-wrap{
    padding-left: 20px;
}
.course-main .course-menu-wrap>li{
    float: left;
    padding: 0 30px;
    line-height: 3;
}
.course-main .course-menu-wrap>li:hover {
    background: rgba(255,255,255,.1);
}
.course-main .course-menu-wrap>li a {
    color: #fff;
}
.course-main .course-menu-wrap>li.active{
    width: 270px;
    text-align: center;
    background: #33772c;
}

.course-main .course-screen .course-nav {
    position: absolute;
    left: 20px;
    z-index: 1;
    background: #fff;
}
.course-main .course-nav .nav-list{
    width: 270px;
    height: 512px;
}
.course-main .course-nav .list-item{
    height: 45px;
    border-left: 4px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    line-height: 45px;
    padding-left: 14px;
    font-size: medium;
}
.course-main .course-nav .list-item:hover{
    border-left-color: #33772c;
    background: #fafafa;
}

.course-main .course-nav .list-item:hover a{
    color: #33772c;
}
.course-main .course-nav .list-item:hover a:hover {
    text-decoration: underline;
}
.course-main .list-item .nav-txt{
    font-size: small;
    padding-left: 5px;
}
.course-main .course-nav .layer{
    width: 630px;
    height: 472px;
    padding: 0 50px 24px;
    background: #fafafa;
    position: absolute;
    top: 0;
    left: 270px;
    display: none;
}
.course-main .nav-sub-wrapper .operation-list {
    padding: 8px 0;
    border-bottom: 1px dashed silver;
}
.course-main .nav-sub-wrapper .operation-list>a{
    color: #49b849;
    padding: 6px 12px;
}
.course-main .operation-list>a:hover {
    color: #fff;
    background: #49b849;
    border-radius:4px;
}
.course-main .nav-sub-wrapper .sub-list{
    padding-left: 12px;
    padding-top: 24px;
    line-height: 2;
}
.course-main .sub-list .sub-cate-list{
    width: 410px;
}
.course-main .sub-list a.sub-cate{
    float: left;
    color: #999;
    margin-right: 30px;
}

.course-main .sub-list a.sub-cate-head{
    float: left;
    width: 108px;
    color: #4c4c4c;
}
.course-main .sub-list .sub-item{
    margin-bottom: 15px;
}
.course-main .course-user{
    width: 148px;
    height:390px;
    background: #fff;
    position: absolute;
    right: 1px;
    top:80px;
    border: 1px solid #f0f0f0;
    padding: 16px 18px;
    z-index: 1;
}
.course-main .course-user .course-my-info {
    height: 202px;
    text-align: center;
}
.course-main .course-my-info .my-head{
    width: 64px;
    height:64px;
    border-radius:50%;
    background: #d0d6d9;
    text-align: center;
    line-height: 6;
}

.course-main .course-my-info .icon-user {
    color: #333;
    font-size: 300%;
}
.course-main .course-my-info .info-detail {
    padding: 15px 0 7px;
    color: #999;
}
.course-main .course-my-info .info-btn.btn-dark{
    background: #49b849;
}
.course-main .course-my-info .info-btn{
    border: 1px solid #49b849;
    line-height: 32px;
    width: 100%;
    margin: 10px 0;
}
.course-main .quick-entry-wrapper {
    padding-top: 20px;
    line-height: 2;
    text-align: center;
    font-size: medium;
}

/*ads-banner-wrapper*/

.indicators {
    height: 20px;
    background: rgba(0,0,0,.1);
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -20px;
    text-align: center;
    padding: 0 5px;
}
.indicators span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:5px;
    background: #9c9c9c;
    margin:0 2px;
}
.indicators span.on{
    background: #fff;
}
.course-main .ads-banner-wrapper {
    width: 1300px;
    height: 472px;
    overflow: hidden;
    position: relative;
}
.course-main .banner-wrapper-con {
    width: 5200px;
    height: 512px;
}
.course-main .banner-wrapper-con a{
    width: 100%;
    height: 512px;
}

.course-main .banner-wrapper-con .slider-item{
    float: left;
    width: 1300px;
}
.course-main .banner-wrapper-con .slider-item img {
    width: 100%;
    height: 100%;
}
.sliders-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.sliders{
    position: absolute;
    overflow: hidden;
}

/*巨大的广告*/

.yubohui-wrapper{
    width: 100%;
    height: 476px;
    background: url("ads.png") no-repeat;
    margin-top: 10px;
}

/*网校特色*/

.course-feature {
    width: 1220px;
    height: 140px;
    overflow: hidden;
    padding: 20px 0;
    margin: 0 auto;
}
.course-feature .feature-item{
    width: 290px;
    height: 140px;
    margin-right: 10px;
}
.course-feature .feature-item img {
    width: 100%;
    height: 100%;
}

/*英语考试*/

.course-panel-wrapper {
    width: 100%;
    height: 620px;
    background: #fff;
    margin-top: 30px;
}
.course-panel-wrapper .panel-header {
    padding: 20px 0;
    border-bottom:1px solid #f0f0f0;
}
.course-panel-wrapper .panel-con {
    height: 540px;
    padding: 30px;
}
.course-panel-wrapper .panel-con .panel-ads-wrapper{
    width: 570px;
}

.course-panel-wrapper .panel-header h3.title{
    border-left: 3px solid #49b849;
    padding-left: 24px;
    height: 24px;
    line-height: 1;
    width: 290px;
    display: inline-block;
    font-weight: lighter;
    font-size: 180%;
    margin: 6px 0;
}

.course-panel-wrapper .nav-list {
    display: inline-block;
}

.course-panel-wrapper .nav-list li {
    float: left;
    width: 80px;
    text-align: center;
    padding-bottom: 5px;
    font-size: medium;
    margin-right: 22px;
    margin-bottom: -8px;
    cursor: pointer;
}

.course-panel-wrapper li.on {
    border-bottom:3px solid #49b849;
}
.course-panel-wrapper .panel-con .con-l {
    width: 275px;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
.course-panel-wrapper .con-r .con-rl {
    width: 594px;
    float: left;
    margin: 0 28px;
}
.course-panel-wrapper .con-rl .suggest-tit h3{
    display: inline-block;
    border-left:3px solid #49b849;
    padding-left: 12px;
}

.course-panel-wrapper .con-rl .suggest-tit span {
    float: right;
}
.course-panel-wrapper .suggest-list {
    height: 186px;
    margin: 10px 0;
    overflow: hidden;
}
.course-panel-wrapper .suggest-list span{
    display: inline-block;
    overflow: hidden;
    word-break: break-all;
    width: 100%;
    height: 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
    line-height: 1.5;
}
.course-panel-wrapper .suggest-list .suggest-item{
    width: 198px;
    height: 100%;
    padding: 7px;
    float: left;
}
.course-panel-wrapper .suggest-item img {
    width: 100%;
    height: 125px;
}
.course-panel-wrapper .con-r .b-tit{
    border-left:3px solid #49b849;
    padding-left: 12px;
    overflow: hidden;
    margin-bottom: 22px;
}
.course-panel-wrapper .panel-topic-wrapper .b-item {
    width: 297px;
    height: 114px;
    padding: 7px;
    float: left;
}
.course-panel-wrapper .panel-topic-wrapper .b-item img {
    width: 100%;
    height: 100%;
}


.course-panel-wrapper .con-r .con-rr {
    width: 215px;
    height: 100%;
    float: right;
}
.course-panel-wrapper .con-rr .b-tab {
    margin-left: 10px;
}
.course-panel-wrapper .con-rr .b-tab a{
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    padding: 2px 5px;
    font-size: x-small;
}
.course-panel-wrapper .con-rr .b-tab a.on{
    color: #fff;
    background: #49b849;
    border-color: #49b849;
}

.course-panel-wrapper .con-rr .b-list {
    height: 184px;
    padding: 18px 0;
    border-top:1px solid #f0f0f0;
    position: relative;
}
.panel-ranking-wrapper .b-item {
    margin-bottom: 15px;
}

.panel-ranking-wrapper .b-item .b-order-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    text-align: center;
    font-style: normal;
    color: #fff;
    background-color: #49b849;
    font-size: x-small;
}

.panel-ranking-wrapper .b-item .b-txt {
    padding-left: 25px;
    position: relative;
    font-size: xx-small;
}
.panel-ranking-wrapper .b-item .b-con {
    /*display: none;*/
    margin-top: 10px;
}
.panel-ranking-wrapper .b-item .b-con img {
    width: 94px;
    height: 62px;
    margin-right: 8px;
}

.panel-ranking-wrapper .b-con .price-wrapper span {
    display: block;
    margin-left: 10px;
    color: #999;
}

.panel-ranking-wrapper .b-con .price-wrapper span.origin-price{
    color: #f60;
    font-size: medium;
}

.panel-ranking-wrapper .price-wrapper span>i{
    text-decoration: line-through;
}

.panel-information-wrapper{
    margin-top: 42px;
}
.panel-information-wrapper .b-item {
    line-height: 2.5;
}
.panel-information-wrapper .b-item .b-txt{
    font-size: xx-small;
}

/*合作机构*/

.cooperation {
    margin-top: 30px;
    padding: 25px 0;
    background: #fff;
    height: 170px;
}
.cooperation .course-cooperation-tit {
    height: 32px;
    padding-left: 20px;
    border-left:3px solid #49b849;
    font-size: 150%;
}
.cooperation .hui-carousel {
    margin-top: 20px;
    position: relative;
}
.cooperation .hui-carousel .hui-carousel-clip {
    width: 1100px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.cooperation .hui-carousel .hui-carousel-list {
    position: absolute;
    width: 2640px;
    height: 80px;
}
.cooperation .hui-carousel-list .hui-carousel-item{
    float: left;
    width: 220px;
    height: 80px;
    text-align: center;
}

.cooperation .hui-carousel .hui-carousel-btn{
    position: absolute;
    top:30%;
    font-size: 200%;
    color: #d4d4d4;
}
.cooperation .hui-carousel .hui-carousel-prev-btn{
    left: 20px;
}
.cooperation .hui-carousel .hui-carousel-next-btn{
    right: 20px;
}

/*hui-footer*/

.hui-footer {
    margin-top: 30px;
    background: #f0f0f0;
    padding: 10px 40px 15px;
    overflow: hidden;
    font-size: xx-small;
}
.hui-footer .hui-footer-bd{
    width: 920px;
    margin: 0 auto;
    border-bottom:1px solid #ddd;
    padding-bottom: 15px;
    overflow: hidden;
}
.hui-footer .hui-footer-bd dl{
    float: left;
    margin-right: 130px;
}
.hui-footer .hui-footer-bd dl:last-child{
    margin-right: 0;
}

.hui-footer .hui-footer-bd dl dt{
    margin: 15px 0;
    color: #494949;
    font-weight: 500;
    font-size: 180%;
}
.hui-footer .hui-footer-bd dl dd{
    line-height: 2;
}
.hui-footer .hui-footer-phone{
    font-size: 200%;
}
.hui-footer .hui-footer-number{
    color: #999;
}
.hui-footer .hui-footer-i>i{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 250%;
    margin-right: 20px;
}

.hui-footer .hui-footer-ft{
    width: 920px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.hui-footer .hui-footer-ft>div{
    margin: 15px 0;
}
.hui-footer .hui-footer-ft-icon>a{
    width: 154px;
    height: 30px;
    line-height: 2.5;
    margin-right:5px;
    border:1px solid #ddd;
    text-align: center;
}
.hui-footer .hui-footer-ft-icon i{
    display: inline-block;
    padding-right: 20px;
    width: 15px;
    height: 15px;
}


/*回到顶部*/

.hui-sidebar{
    position: fixed;
    bottom: 180px;
    right: 20px;
    z-index: 1;
    /*display: none;*/
}
.hui-sidebar a{
    width: 44px;
    height: 44px;
    text-align: center;
    background: #9c9c9c;
    color: #fff;
}
.hui-sidebar .hui-gotop-btn .icon-point-up {
    font-size: 200%;
    line-height: 1.8;
    display: block;
}
.hui-sidebar .hui-gotop-btn span.go-txt {
    display: none;
    background: #49b849;
    width: 44px;
    height: 44px;
    padding-top:3px;
}
.hui-sidebar .hui-gotop-btn:hover i{
    display: none;
}
.hui-sidebar .hui-gotop-btn:hover span{
    display: block;
}
